<section class="form-wrap">
  <div class="container custom-container">
    <h2>Реєстрація</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field mb-5">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <%= flash[:recaptcha_error] %>
      <%= invisible_recaptcha_tags %>


      <div class="actions">
        <%= f.submit "Зареєструватись", :class => "btn-custom btn-secondary-color w-100" %>
        <%#= invisible_recaptcha_tags ui: :invisible, callback: 'submitInvisibleRecaptchaForm' %>
      </div>
    <% end %>
    <div class="text-center">
      <p>або авторизуйтеся за допомогою:</p>
<%#= render "devise/shared/links" %>
      <%= link_to user_facebook_omniauth_authorize_path, class: "btn-custom btn-secondary-color", method: :post do %>
        <i class="fab fa-facebook-f"></i>
      <% end %>
      <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn-custom btn-secondary-color", method: :post do %>
        <i class="fab fa-google"></i>
      <% end %>
    </div>
  </div>
</section>