<section class="offers-wrap favorite-section">
  <div class="container">
    <h4 class="text-center mb-4">Обрані магазини</h4>
    <div class="row">
      <% @favorite.each do |fav| %>
        <div class=" col-6 col-sm-6 col-lg-3">
          <div class="offer-list">
            <div class="offer-img">
              <div class="fav-btn">
                <% if current_user.favorites.exists?(offer_id: fav.offer) %>
                  <%= link_to favorite_path(id: fav.offer.id), title: "Видалити з обраного", method: :delete do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                <% else %>
                  <%= link_to favorites_path(user: current_user, offer_id: fav.offer.id), title: "Додати в обране", method: :post do %>
                    <i class="far fa-star"></i>
                  <% end %>
                <% end %>
              </div>
              <%= link_to image_tag(fav.offer.image), offer_path(fav.offer) if fav.offer.image.present? %>
              <%#= image_tag fav.offer.image if fav.offer.image.present? %>
            </div>
            <div class="offer-title">
              <h3><%= link_to fav.offer.name, offer_path(fav.offer) %></h3>
            </div>
            <div class="offer-descr-list">
              <div class="offer-percent">
                <i class="fas fa-undo-alt"></i> кешбек: <strong><%= fav.offer.cashback %></strong>
              </div>
              <div class="offer-link">
                <%= link_to (fa_icon "user-o", text: "В магазин"), fav.offer.link_to_offer(fav.offer.link, current_user.id),
                            class: "btn-custom btn-main-color btn-custom-sm", target: :_blank, method: :get %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
