<section class="form-wrap">
  <div class="container custom-container">
    <h2 class="mb-4">Отримання даних про покупки</h2>
    <%= form_with url: admitad_action_data_path, id: "get_action_data_form", local: false do |form| %>
      <div class="field">
        <div><%= form.label :date_field, "Оберіть період від" %></div>
        <%= form.date_field("start_data", value: "2020-01-01") %>
      </div>
      <%= form.hidden_field("token", value: cookies[:access_token]) %>
      <div class="actions">
        <%= form.submit "Отримати", :class => "btn-custom btn-secondary-color w-100" %>
      </div>
    <% end %>
    <div id="results"></div>
    <p><%= params[:notice] %></p>
  </div>
</section>
