<%= form_with url: withdrawal_liqpay_path, id: "withdrawal_liqpay_form", local: false do |form| %>
  <div class="card-wrap">
    <div class="mb-3">
      <%= form.text_field :card_num, class: "form-control card-numb-form", :autocomplete => :off, minlength: "16", maxlength: "16", placeholder: "Введіть номер картки" %>
    </div>
    <div class="mb-3">
      <%= form.text_field :first_name, :autocomplete => :off, class: "form-control card-numb-form", placeholder: "Введіть ім'я" %>
    </div>
    <div>
      <%= form.text_field :last_name, :autocomplete => :off, class: "form-control card-numb-form", placeholder: "Введіть прізвище" %>
    </div>
  </div>
  <div class="actions text-center mt-3">
    <%= form.submit "Вивести", ({:class => "btn-custom btn-secondary-color", id: "button", remote: true}) %>
  </div>
<% end %>


<script>
    document.getElementById("card_num").addEventListener("keyup", function () {
        $("#card_num").val(($("#card_num").val()).replace(/[^0-9]/g, ''));
    });
</script>