<section class="form-wrap">
  <div class="container custom-container">
    <h2 class="mb-4">Відновлення паролю</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <div class="required"><%= f.label :password, "New password" %></div>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br/>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <div class="required">%= f.label :password_confirmation, "Confirm new password" %></div><
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%#= f.submit "Змінити пароль", :class => "btn-custom btn-secondary-color w-100" %>
        <%= invisible_recaptcha_tags text: "Змінити пароль", :class => "btn-custom btn-secondary-color w-100" %>
      </div>
    <% end %>

    <div class="text-center">
      <p>Авторизуватись за допомогою:</p>
      <%= link_to user_facebook_omniauth_authorize_path, class: "btn-custom btn-secondary-color", method: :post do %>
        <i class="fab fa-facebook-f"></i>
      <% end %>
      <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn-custom btn-secondary-color", method: :post do %>
        <i class="fab fa-google"></i>
      <% end %>
    </div>
  </div>
</section>