<section class="form-wrap">
  <div class="container custom-container">
    <h2 class="mb-4">Авторизація</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <div><%= f.label :email %></div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field mb-5">
        <div><%= f.label :password %></div>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <%# if devise_mapping.rememberable? %>
      <!--        <div class="field">-->
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
      <!--        </div>-->
      <%# end %>
      
      <div class="actions">
        <%#= f.submit "Увійти", :class => "btn-custom btn-secondary-color w-100" %>
        <%= invisible_recaptcha_tags text: 'Увійти', :class => "btn-custom btn-secondary-color w-100" %>
      </div>
    <% end %>
    <div class="text-center">
      <p>або авторизуйтеся за допомогою:</p>
<%#= render "devise/shared/links" %>
      <%= link_to user_facebook_omniauth_authorize_path, class: "btn-custom btn-secondary-color", method: :post do %>
        <i class="fab fa-facebook-f"></i>
      <% end %>
      <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn-custom btn-secondary-color", method: :post do %>
        <i class="fab fa-google"></i>
      <% end %>
    </div>
    <div class="text-center mt-3">
      <%= link_to "Забули пароль?", new_user_password_path %>
    </div>
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert%></p>
  </div>
</section>