<section class="offers-wrap">
  <div class="container">
    <div class="row">
      <% @offers.each do |offer| %>
        <div class=" col-6 col-sm-6 col-lg-3">
          <div class="offer-list">
            <%= link_to favorites_path(user: current_user, offer_id: offer.id), method: :post do %>
              <i class="far fa-star"></i>
            <% end %>
            <div class="offer-img">
              <%= link_to image_tag(offer.image), offer_path(offer) if offer.image.present? %>
            </div>
            <div class="offer-title">
              <h3><%= link_to offer.name, offer %></h3>
            </div>
            <div class="offer-descr-list">
              <div class="offer-percent">
                <i class="fas fa-undo-alt"></i> кешбек: <strong><%= offer.cashback %></strong>
              </div>
              <div class="offer-link">
                <%= link_to (fa_icon "user-o", text: "В магазин"), offer.link_to_offer(offer.link, current_user.id),
                            class: "btn-custom btn-main-color btn-custom-sm", target: :_blank, method: :get %>
                </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <p id="notice"><%= notice %></p>
  </div>
</section>