<% if current_user %>
  <section class="home-section-register">
      <%= render 'categories/categories' , cached: true%>
      <%= render 'offers/offers' , cached: true%>
    <div class="digg_pagination">
      <%= will_paginate @offers %>
    </div>
  </section>
<% else %>
  <section class="home-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-6">
          <h1 class="text-left mt-4">Повертаємо до 60% від вартості покупок в популярних інтернет-магазинах</h1>
          <button type="button" class="btn-custom btn-main-color btn-custom-lg mt-4 mb-4" data-toggle="modal" data-target="#exampleModal">
            Отримати кешбек
          </button>
        </div>
        <div class="col-sm-12 col-lg-6 text-center">
          <%= image_pack_tag("media/images/img-main_1.svg", alt: "banner") %>
        </div>
      </div>
    </div>
  </section>
  <section class="work-section">
    <div class="container">
      <h3 class="text-center font-weight-bold">Як це працює?</h3>
      <div class="text-center mb-5">кешбек за кілька легких кроків</div>
      <div class="row text-center pt-3 pb-3">
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="work-list mb-3">
            <div class="step-label step-label-first">1</div>
            <div class="row align-items-center">
              <div class="col-sm-4 col-md-4 col-lg-3">
                <i class="fas fa-sign-in-alt"></i>
              </div>
              <div class="col-sm-8 col-md-8 col-lg-9 text-center">
                Авторизуйся
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="work-list mb-3">
            <div class="step-label">2</div>
            <div class="row align-items-center">
              <div class="col-sm-4 col-md-4 col-lg-3">
                <i class="far fa-hand-pointer"></i>
              </div>
              <div class="col-sm-8 col-md-8 col-lg-9 text-center">
                Обери магазин
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="work-list mb-3">
            <div class="step-label">3</div>
            <div class="row align-items-center">
              <div class="col-sm-4 col-md-4 col-lg-3">
                <i class="fas fa-shopping-basket"></i>
              </div>
              <div class="col-sm-8 col-md-8 col-lg-9 text-center">
                Зроби покупку
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="work-list mb-3">
            <div class="step-label step-label-last">4</div>
            <div class="row align-items-center">
              <div class="col-sm-4 col-md-4 col-lg-3">
                <i class="fas fa-cookie"></i>
              </div>
              <div class="col-sm-8 col-md-8 col-lg-9 text-center">
                Отримай кешбек
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="payout-info">
        <div class="row align-items-center">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <h4 class="text-center font-weight-bold pt-3">Зручний вивід коштів</h4>
          </div>
          <div class="col-4 col-sm-4 col-md-2 col-lg-2">
            <div class="pay-list-img">
              <%= image_pack_tag("media/images/mastercardc.svg", alt: "mastercard") %>
            </div>
          </div>
          <div class="col-4 col-sm-4 col-md-2 col-lg-2">
            <div class="pay-list-img">
              <%= image_pack_tag("media/images/visac.svg", alt: "visa") %>
            </div>
          </div>
          <div class="col-4 col-sm-4 col-md-2 col-lg-2">
            <div class="pay-list-img">
              <%= image_pack_tag("media/images/simc.svg", alt: "sim") %>
            </div>
          </div>
        </div>
      </div>
      <h3 class="text-left mb-4 mt-5 font-weight-bold">Популярні магазини</h3>
      <div class="row">
        <% @offers_rand.each do |offer| %>
          <div class=" col-6 col-sm-6 col-lg-3">
            <div class="offer-list">
              <%= link_to(offer) do %>
                <div class="offer-img">
                  <%= image_tag(offer.image, alt: "shop logo") if offer.image.present? %>
                </div>
                <div class="offer-title">
                  <h3><%= offer.name %></h3>
                </div>
                <div class="offer-descr-list">
                  <div class="offer-percent">
                    <strong><%= offer.cashback %></strong>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="pr-3">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-center">Для отримання кешбеку потрібна авторизація</p>
        </div>
        <div class="modal-footer">
          <%= link_to (fa_icon "user-o", text: "Вхід"), new_user_session_path, class: "btn-custom btn-secondary-color", method: :get %>
          <%= link_to (fa_icon "user-o", text: "Реєстрація"), new_user_registration_path, class: "btn-custom btn-secondary-color", method: :get %>
        </div>
      </div>
    </div>
  </div>
<% end %>
