<section class="offer-detail-wrap">
  <div class="container">
    <!-- breadcrumbs-->
    <ol class="breadcrumb offer-detail pt-3 pb-3">
      <%= link_to "Головна", root_path, class: "breadcrumb-item" %>
      <%= link_to "#{@category.name}", @category, class: "breadcrumb-item" %>
      <li class="breadcrumb-item active" aria-current="page"><%= @offer.name %></li>
    </ol>
    <!-- breadcrumbs-->
    <div class="row">
      <div class="col-sm-12 col-lg-3">
        <div class="offer-detail mb-4 text-center">
          <div class="offer-img-details">
            <div class="fav-btn">
              <%= render 'offers/fa_star', offer: @offer %>
            </div>
            <%= image_tag @offer.image if @offer.image.present? %>
          </div>
          <div class="offer-category-detail">
            <%= @offer.category.name %>
          </div>
          <%= link_to (fa_icon "user-o", text: "В магазин"), redirect_path(id: @offer.id),
                      class: "btn-custom btn-secondary-color mt-2 mb-2", target: :_blank, method: :get %>
          <div class="offer-cashback-confirm mb-3 mt-2">
            <i class="far fa-clock"></i> Середній час очікування кешбеку:
            <strong><%= @offer.confirmation %> днів</strong>
          </div>
        </div>
        <div class="offer-detail mb-3 text-center pb-3 pt-3">
          <p>Повертаємо від покупок:</p>
          <strong class="cback-text"><%= @offer.cashback %></strong>
        </div>
      </div>
      <div class="col-sm-12 col-lg-9">
        <div class="offer-detail pt-3 mb-4">
          <div class="offer-label-percent text-right">
            <p><i class="fab fa-gripfire"></i> <strong> <%= @offer.cashback %></strong></p>
          </div>
          <h3 class="mb-4 mt-4">Кешбек на сайті <strong class="custom-title"><%= @offer.name %></strong></h3>
          <div class="mb-4">
            <%== @offer.description %>
          </div>
        </div>
        <div class="offer-detail rules-warning mb-4">
          <%= render 'layouts/rules' , cached: true %>
        </div>
      </div>
    </div>
  </div>
</section>
