<section class="container categories-wrap favorite-section">
  <!-- breadcrumbs-->
  <ol class="breadcrumb offer-detail pt-3 pb-3">
    <%= link_to "Головна", root_path, class: "breadcrumb-item" %>
    <li class="breadcrumb-item active" aria-current="page"><%= @category.name %></li>
  </ol>
  <!-- breadcrumbs-->
<h4 class="mb-4"><%= @category.name %></h4>
  <div class="row">
    <% @offers.each do |offer| %>
      <div class=" col-6 col-sm-6 col-lg-3">
        <div class="offer-list">
          <div class="offer-img">
            <div class="fav-btn">
              <%= render 'offers/fa_star', offer: offer%>
            </div>
            <%= link_to image_tag(offer.image), offer_path(offer) if offer.image.present? %>
          </div>
          <div class="offer-title">
            <h3><%= link_to offer.name, offer %></h3>
          </div>
          <div class="offer-descr-list">
            <div class="offer-percent">
              <i class="fas fa-undo-alt"></i> кешбек: <strong><%= offer.cashback %></strong>
            </div>
            <div class="offer-link">
              <%= link_to (fa_icon "user-o", text: "В магазин"), offer.link_to_offer(offer.link, current_user.id),
                          class: "btn-custom btn-main-color btn-custom-sm", target: :_blank, method: :get %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
