<!DOCTYPE html>
<html>
<head>
  <title><%= meta_title %></title>
  <meta name="description" content="<%= meta_description %>">
  <meta name="google-site-verification" content="xFrkSgVDT7tatblWCEmhanCmIGS4df4z6WJyRQbqvUA"/>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta property="og:title" content="<%= meta_title %>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= request.original_url %>">
  <meta property="og:description" content="<%= meta_description %>">
  <meta property="og:site_name" content="<%= meta_title %>">
  <%= favicon_pack_tag 'tag.svg' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
  <meta name="verify-admitad" content="4669a05cac"/>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E56DZGTG5Q"></script>
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'G-E56DZGTG5Q');
  </script>
</head>
<body>
<section class="main-section">
  <header class="header">
    <div class="logo-header">
      <a href="/"><%= image_pack_tag("media/images/logo_1.svg", alt: "logo") %></a>
    </div>
    <% if current_user %>
      <%= render 'layouts/search_bar' %>
    <% end %>
    <div class="btn-group-header">
      <% if current_user && current_user.admin? %>
        <button type="button" class="btn-custom btn-transparent search-mobile" data-toggle="modal" data-target="#searchModal">
          <i class="fas fa-search"></i>
        </button>
        <%= link_to favorites_path, class: "btn-custom btn-transparent", method: :get do %>
          <i class="fas fa-star"></i>
        <% end %>
        <%= render 'layouts/admin_dropdown' %>
      <% elsif current_user %>
        <a class="btn-custom btn-transparent search-mobile" data-toggle="modal" data-target="#searchModal">
          <i class="far fa-search"></i>
        </a>
        <%= link_to favorites_path, class: "btn-custom btn-transparent", method: :get do %>
          <i class="fas fa-star"></i>
        <% end %>
        <%= render 'layouts/user_dropdown' %>
      <% else %>
        <%= link_to (fa_icon "user-o", text: "Вхід"), new_user_session_path, class: "btn-custom btn-transparent", method: :get %>
        <%= link_to (fa_icon "user-o", text: "Реєстрація"), new_user_registration_path, class: "btn-custom btn-main-color", method: :get %>
      <% end %>
    </div>
  </header>
  <%= yield %>
  <% if cookies[:allow_cookies].blank? %>
    <%= render 'layouts/cookies_bar' %>
  <% end %>
  <% if notice %>
    <div id="notice-wraper">
      <div id="notice"><%= notice %></div>
    </div>
  <% elsif alert %>
    <div id="notice-wraper">
      <div id="alert"><%= alert %></div>
    </div>
  <% end %>
</section>
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content search-modal">
      <div class="modal-body">
        <%= form_with url: search_offers_path, class: "form-inline", method: :get, local: true do |f| %>
          <%= f.text_field :query, id: :query, data: {behavior: "autocomplete"}, class: "form-control", placeholder: "Введіть назву магазину" %>
          <%= button_tag type: 'submit', class: "btn-search" do %>
            <i class="fab fa-sistrix"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
