<!DOCTYPE html>
<html>
<head>
  <title>Cback.club</title>
  <meta name="google-site-verification" content="xFrkSgVDT7tatblWCEmhanCmIGS4df4z6WJyRQbqvUA"/>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
  <meta name="verify-admitad" content="4669a05cac"/>
</head>
<body>
<section class="main-section">
  <header class="header">
    <div class="logo-header">
      <a href="/"><%= image_pack_tag("media/images/logo_1.svg") %></a>
    </div>
    <% if current_user %>
      <div class="search-desktop">
        <form class="form-inline">
          <%= form_with url: search_offers_path, method: :get, local: true do |form| %>
            <%= form.text_field :query, id: :query, data: {behavior: "autocomplete"}, class: "form-control", placeholder: "Введіть назву магазину" %>
            <%= button_tag type: 'submit', class: "btn-search" do %>
              <i class="fab fa-sistrix"></i>
            <% end %>
          <% end %>
        </form>
      </div>
    <% end %>
    <div class="btn-group-header">
      <% if current_user %>
        <%= link_to favorites_path, class: "btn-custom btn-transparent", method: :get do %>
          <i class="fas fa-star"></i>
        <% end %>
        <div class="dropdown btn-group">
          <a class="btn-custom btn-main-color dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-user"></i>
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
<!--            <a class="dropdown-item" href="#"><i class="far fa-user"></i> Мій кабінет</a>-->
            <%= link_to user_path(current_user.id), class: "dropdown-item", method: :get do %>
              <i class="far fa-user"></i> Мій кабінет
            <% end %>
            <%= link_to favorites_path, class: "dropdown-item", method: :get do %>
              <i class="fas fa-star"></i> Обрані магазини
            <% end %>
            <a class="dropdown-item" href="#"><i class="fab fa-cc-mastercard"></i> Вивести кошти</a>
            <%= link_to destroy_user_session_path, class: "dropdown-item", method: :delete do %>
              <i class="fas fa-sign-out-alt"></i> Вихід
            <% end %>
          </div>
        </div>
      <% else %>
        <%= link_to (fa_icon "user-o", text: "Вхід"), new_user_session_path, class: "btn-custom btn-transparent", method: :get %>
        <%= link_to (fa_icon "user-o", text: "Реєстрація"), new_user_registration_path, class: "btn-custom btn-main-color", method: :get %>
      <% end %>
    </div>
  </header>
  <%= yield %>
  <% if notice %>
    <div id="notice-wraper">
      <div id="notice"><%= notice %></div>
    </div>
  <% elsif alert %>
    <div id="notice-wraper">
      <div id="alert"><%= alert %></div>
    </div>
  <% end %>
</section>
</body>
</html>
